#root{
  height: 100%;
  width: 100%;
  background: transparent;
  position: absolute;
  z-index: 5;
}
#c {
  position: absolute;
  z-index: 0;
  height: 1400px;
  width: 100vw;
}
html,
body {
  height: 100%;
  background: transparent;
}

.main-landing-page{
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
}

h1{
  color: #AAFF00;
}

.nft-info{
  margin-top: 1.25rem;
}

.background-colr{
  background: transparent !important;
  border: 1px solid #AAFF00 !important;
  color: #17d42d !important;
}

.content, .extra, .header, .meta, .description, .header-item, label, h3 {
  color: #17d42d !important;
}

.border-updown{
  border-left: none !important;
  border-right: none !important;
}

.ui-info{
  text-transform: capitalize !important;
}

.ui-label{
  text-transform: uppercase !important;
  color: #00cfe6e5 !important;
}

.ant-input{
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important;
}
